@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

body {
    margin: 0;
    background-color: cadetblue;
}

.form{
    padding: 40px 30px 20px 50px;
}

input{
    padding: 4px;
    font-size: 20px;
}

.H1{
    margin: 0px 10px 10px 25px;
}

.btn{
    margin: 5px 5px 5px 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
}

.list{
    font-size: 20px;
    padding: 2px;
}

.list-ul li button{
    padding: 4px 10px;
    margin: 0 0 0 10px;
    border-radius: 5px;
}
